@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #000;
    background: #fff;
}

.container-xl {
    max-width: 1360px;
}


.header {
    height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    background: #fff;
}

.header-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    align-items: center;
    width: 100%;
    height: 70px;
}

.lang {
    grid-column: 1 / 2;
    justify-self: start;
    padding: 4px 16px;
    border-radius: 25px;
    border: 1px solid #000;
    background: transparent;
    font-size: 14px;
    cursor: pointer;
}

.logo {
    grid-column: 2 / 4;
    justify-self: start;
    font-size: 20px;
    font-weight: 700;
    text-transform: lowercase;
}

.menu {
    grid-column: 8 / 13;
    display: grid;
    grid-auto-flow: column;
    column-gap: 22px;
    justify-content: end;
    align-items: center;
}

.menu__item {
    border-radius: 25px;
    border: 1px solid #000;
    padding: 6px 22px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    background: transparent;
    white-space: nowrap;
}


.back {
    padding-top: 20px;
}

.back__btn {
    width: 64px;
    height: 64px;
    background-color: transparent !important;
    border: none !important;
    background-image: url('img/back-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

    .back__btn:hover {
        background-image: url('img/back-2.png');
    }


/*.hero {
    width: 100%;
    height: 450px;
    background-image: url("img/ratatouille.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; 
    margin-top: 20px;
}

.hero__inner {
    color: #000;
    text-align: left;
}

.hero__title {
    font-size: 64px;
    font-weight: 700;
    margin: 0 0 10px;
    color: #000;
}

.hero__subtitle {
    font-size: 36px;
    margin: 0 0 30px;
    color: #000;
}

.hero__btn {
    display: inline-block;
    background-color: #FFBFEB;
    color: #000;
    padding: 12px 35px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}

    .hero__btn:hover {
        text-decoration: underline;
    }

    .hero__btn:active {
        background: #FAFFC7;
    }
*/


.tour-text {
    padding: 60px 0 40px;
}

.tour-text__p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 18px;
}

.tour-text__price {
    font-size: 24px;
    margin: 10px 0;
}

.tour-text__btn {
    display: inline-block;
    background-color: #FAFFC7;
    color: #000;
    padding: 10px 32px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}

    .tour-text__btn:hover {
        text-decoration: underline;
    }


.insta {
    padding: 40px 0 80px;
}

.story-card {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background: none;
}

.story-card__header {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 6px;
    
    padding: 4px 8px;
    border-radius: 12px;
}

.story-card__avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.story-card__user {
    font-size: 16px;
    font-weight: 500;
    color: azure
}

.story-card__time {
    font-size: 14px;
    color: #777;
    margin-left: auto;
}


.story-card__img {
    width: 100%;
    height: auto; 
    display: block;
    border-radius: 0 0 20px 20px;
}



.features-block {
    padding: 40px 0 80px;
}

.features-card {
    border-radius: 25px;
    border: 6px solid #FFBFEB;
    padding: 70px 80px 60px;
    position: relative;
    background: #fff;
}

.features-card__circle {
    position: absolute;
    top: -52px;
    left: 50%;
    transform: translateX(-50%);
    width: 104px;
    height: 104px;
    border-radius: 50%;
    background: #FFBFEB;
}

.features-card__title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.features-card__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

    .features-card__list li {
        font-size: 16px;
        line-height: 1.6;
        margin-bottom: 8px;
        position: relative;
        padding-left: 18px;
    }

        .features-card__list li::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0.7em;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background: #D9D9D9;
            transform: translateY(-50%);
        }


.footer {
    background: #FFBFE8;
    height: 160px;
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.footer__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 20px;
    align-items: center;
    width: 100%;
}

.footer__left {
    grid-column: 1 / 4;
    justify-self: start;
    font-size: 16px;
}

.footer__logo {
    font-weight: 700;
    margin-bottom: 6px;
}

.footer__center {
    grid-column: 6 / 8;
    text-align: center;
    font-size: 16px;
}





@media (max-width: 992px) {
    .hero__title {
        font-size: 48px;
    }
    .hero__subtitle {
        font-size: 28px;
    }
    .features-card {
        padding: 60px 30px 40px;
    }
}

@media (max-width: 768px) {
    .header-grid {
        grid-template-columns: 1fr 1fr;
    }
    .menu {
        display: none; 
    }
    .hero__bg {
        height: 360px;
    }
    .features-card__title {
        font-size: 32px;
    }
    .footer {
        height: auto;
        padding: 30px 0;
    }
    .footer__center {
        grid-column: 1 / 13;
        margin-top: 10px;
    }
}
.story-video {
    width: 100%;
    height: auto;
    border-radius: 20px;
    display: block;
}

.hero {
    position: relative;
    height: 450px;
    overflow: hidden;
    margin-top: 20px;
}


.hero__img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
}


.hero__text-block {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
    color: #000;
}


.hero__title {
    font-size: 64px;
    font-weight: 700;
    margin: 0 0 10px;
}

.hero__subtitle {
    font-size: 36px;
    margin: 0 0 30px;
}

.hero__btn {
    display: inline-block;
    background-color: #FFBFEB;
    color: #000;
    padding: 12px 35px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
}

    .hero__btn:hover {
        text-decoration: underline;
    }

.hero__text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    max-width: 1360px; 
    padding-left: 0;
}